## Data Types

### Literals and types

A literal is code that exactly represents a value. There are string literal and numeric literals.

### String Literals

In [1]:
'I am learning Python from Guvi'       # string in single quotes

'I am learning Python from Guvi'

In [2]:
"This is Guvi's Python course "        #string in double quotes

"This is Guvi's Python course "

we will see about the string literals extensively in the later part of the same notebook

### Numeric literals

There are actually a few different types of numeric values in Python. There are integer values which correspond to whole numbers.

In Python, an integer is known as an int. A number that can have a fractional part is called a float. For example, 98 is an int while 2.45 is a float.

The presence of the decimal point makes a number a float—it doesn’t matter if the fractional part is zero.

For example, the literal 9.0, or even just 9., are also floats despite the fact that these numbers have fractional parts of zero

   Integers  
   Float 
   Long     (Dropped since Python3)
   Complex

In [3]:
7                        # integer literal

7

In [4]:
4.5                      # float literal

4.5

In [5]:
6+7j                     # complex literal

(6+7j)

In [6]:
2.74e3                   # Exponential notation: positive exponent.

2740.0

In [7]:
2.74e-3                  # Exponential notation: negative exponent

0.00274

##### type

type function is a buit-in function in python which illustrates what happens when various literals are
passed as an argument to type().

we will discuss about the built-in functions like type() in section 000101

type() function to determine the type of various literals.

In [8]:
type(44)

int

In [9]:
type(5.6)

float

In [10]:
type('-27.345e14')    # Looks like float but isn’t!, Anything under quotes is a string

str

In [11]:
type('98')            # seems like integer but it is a string

str

In [12]:
type('Iron man')

str

In [13]:
type("Sherlock")

str

###### using built-in print() function

In Python 3,       print() is a built-in function (object) that is used to print the argument we give it to the screen.     For example,

we will discuss about the built-in functions like print() in section 000101

In python 2,        the print function can be declared without any openbrackets,             But python 2 will be dead by the time you take this course. Python 2.7 will not be maintained past 2020

In [14]:
print("Do you know how to code in python ?")  # A string

Do you know how to code in python ?

In [15]:
print(98)                                     # An int

98

In [16]:
print(3000, "3000")                           # An int and a str that looks like an int.

3000 3000

In [17]:
print('143.6')                                # A str that looks like a float.

143.6

In [18]:
print(143.6)                                  # A float.

143.6

In [19]:
print("")                                     # An empty string

###### Arithmetic Operations

In [20]:
3 + 4                    # addition                      Sum of two ints.

7

In [21]:
7 - 5                   # subtraction                   Difference of two ints.

2

In [22]:
9 + 4.0                 # Sum of int and float.

13.0

In [23]:
4 * 5                     # multiplication

20

In [24]:
5 + 4 * 3                 # * has higher precedence than +.

17

In [25]:
8 + 64 / 8 - (34/5)      # Parentheses can change order of operations.

9.2

In [26]:
6/5                    # division           float division of two integers

1.2

In [27]:
4/2                    # division           float division of two integers

2.0

In [28]:
45 / 3 / 2             # Expressions evaluated left to right.

7.5

In [29]:
(45 / 3) / 2           # Parentheses do not change order of operation here.

7.5

In [30]:
45 / (3 / 2)           # Parentheses do change order of operation here.

30.0

In [31]:
6//5                   # floor division

1

In [32]:
2 * 3                  # multiplication

6

In [33]:
2**3                   # 2 to the power of 3

8

In [34]:
8 % 3                   # modulo

2

In [35]:
4**0.5                 # squareroot

2.0

###### Variable Assignment

 A variable is a name that refers to a value.

In [36]:
#we will assign some name to the data object which can be called by that assigned name called as variables

In [37]:
# While declaring varibles we are supposed to follow certain rules 
#    A variable should not start with a numerical value ... eg::-   3myvalue='sherlock' (wrong way of declaring variables)
#    A variable should not have the space in between its words or letters (instead we can use 'underscore' in the space)

GuVI               Valid.
james007bond       Valid
ready_2_dive       Valid
221b               Invalid
2_4_num            Invalid. Cannot start with a digit.
go-2-war           Invalid. Cannot have hyphens (minus signs).
street221          Valid.
street.221         Invalid. Cannot have periods.
training_          Valid.
_monitoring        Valid.
full stack         Invalid. Cannot have blank spaces.

some of the keywords in python 3

In [38]:
# False,    None,    True,    and,    as,   assert,   break,    class,  continue,    def,    del,    elif,  else,   except,   finally,   for, 
# from,   global,  if,  import,  in,   is,   lambda,    nonlocal,   not,   or,   pass,   raise,   return,   try,   while,   with,    yield,

In [39]:
# We should not use keywords as identifiers or variables

In [40]:
# type = 'guvi'      while you are running this cell make sure that you have ran it separately (In a new notebook), 
                     # otherwise it will effect the below cells

In [41]:
# type(type)         This will throw an error

The assignment token, =, should not be confused with equals, which uses the token ==. The assignment statement binds a name, on the left-hand side of the operator, to a value, on the right-hand side.

In [42]:
val = 455                 
user = "guviGEEK" 
percentage = 96.5

look into this example now

In [43]:
134 = num

SyntaxError: can't assign to literal (<ipython-input-43-2efe110d42e8>, line 1)

consider this as important 
say to yourself “num is assigned 134” or “num gets the value 134”. Don’t say “num equals 134”.

This example makes three assignments. The first assigns the integer value 455 to a variable named val. The second gives the string guviGEEK to user, and the third assigns the floating-point number 96.5 to a variable called percentage.

we can check the data type of the variable with the help of built-in type() function as we discussed earlier

In [44]:
x = 45                                      # x is an integer we check it as below

In [45]:
type(x)                                  # to check the type of the object we will use type()

int

In [46]:
y = 34.5                                   # y is an float we check it as below

In [47]:
type(y)                                  # y is a float data type

float

In [48]:
n = 24                                   # Assign 24 to variable n

In [49]:
l = n                                    # Assign current value of n to l.

In [50]:
print("n =", n, ", l =", l)              # See what n and l are.

n = 24 , l = 24

In [51]:
n = 9                                   # Assign new value to n.

In [52]:
print("n =", n, ", l =", l)             # See what n and l are now.

n = 9 , l = 24

###### Incrementing a variable

In [53]:
r = 5                                   # Assign a value to r.

In [54]:
r                                       # Check the value of r.

5

In [55]:
r += 1                                  # Increment r by adding 1 to itself.
                                        # r += 1  this signifies same as r = r + 1

In [56]:
r                                       # Check that r was incremented.

6

A variable’s type is determined by the value that is last assigned to the variable.

In [57]:
cal = 5 * 5 * 4
st = "centuries scored by Sachin Ramesh Tendulkar"

In [58]:
print(cal, st)                          # Check what cal and st are.

100 centuries scored by Sachin Ramesh Tendulkar

In [59]:
cal, st                                 # Quicker way to check cal and st.

(100, 'centuries scored by Sachin Ramesh Tendulkar')

In [60]:
type(cal), type(st)                     # Check types of cal and st.

(int, str)

In [61]:
                                        # Now we will set cal and st to the new values

In [62]:
cal = 77.4
st  = 34*2

In [63]:
print(cal, st)                          # we will Check what cal and st are.

77.4 68

In [64]:
type(cal), type(st)                     # Check types of cal and st.

(float, int)

Cascading assignment in which the variables a, b, and c are set to the
same value with a single statement.

In [65]:
a = b = c = 5 + 4 + 1

In [66]:
a,b,c

(10, 10, 10)

Simultaneous assignment where the values of two variables are exchanged
with the single statement

In [67]:
guvi_at = "IITM Research park"          # some string is assigned to the variable guvi_at

In [68]:
place    = "Chennai"                    # some string is assigned to the variable place

In [69]:
guvi_at, place = place, guvi_at

In [70]:
guvi_at

'Chennai'

In [71]:
place

'IITM Research park'

In [72]:
guvi_at, place

('Chennai', 'IITM Research park')

we can use “_” to recall the value of previously evaluated expressions.

In [73]:
3 + 8                               # Enter an expression.

11

In [74]:
_                                  # See that _ is equal to value of last expression

11

In [75]:
print(_)                           # _ as an arguement of print() function

11

In [76]:
_ + 7                              # Use _ in new expression.

18

In [77]:
val = _                            # _ assigned as a value to the variable val

In [78]:
val

18

### Multiline Statements and Strings

###### Implicitly

In [79]:
b = [3,
    6,
    6,
    7,
    ]

we can use comments at the end of every line in the list (we can discuss about lists later on in the course)

In [80]:
b = [3, #1st element
    6,  #2st element
    6,  #3st element
    7,  #4st element
    ]

In [81]:
b = [3, #1st element
    6,  #2st element
    6,  #3st element
    7,  #4st element ]

SyntaxError: unexpected EOF while parsing (<ipython-input-81-8ccc9e66ab36>, line 4)

But if we try to end (using square bracket ']' )  the structure (here Lists) soon after the comment in the same line it will leads to incomplete closure of the structure . we can see that in the above cell.

similarly for tuples, sets etc .

In [82]:
b = (3,#1st element
    5, #2st element
    6, #3st element
    2, #4st element
    7, #4st element
    )

In [83]:
b = (3,#1st element
    5, #2st element
    6, #3st element
    2, #4st element
    7, #4st element )

SyntaxError: unexpected EOF while parsing (<ipython-input-83-65633545a4d9>, line 5)

In [84]:
b = {3,#1st element
    9, #2st element
    6, #3st element
    3, #4st element
    7, #4st element 
    }

so same behaviour can be observed if we try to end the object in the same line after the comment

Even we can breakdown the parameters and attributes of a functon into multiple lines (we will discuss about functions in the later parts of the course, As of now we can concentrate on the importance of the current topic)

In [85]:
def guvi(a,b,c):                       # 'guvi' is the function name here and a,b,c are the parameters
    print(a+b+c)

In [86]:
guvi(3,5,7)                            # we have given the arguments 3,5,7 to the fuction guvi by calling it

15

In [87]:
def zenclass(x,                        # 'zenclass' is the function name and x,y,z are the function parameters
             y,       
             z):                       # here have declared the parameters of the function in multiple lines
    print(x+y-z)

In [88]:
zenclass(7,4,8)                        # we have given the arguments 7,4,8 to the fuction zenclass by calling it

3

Constructing multi-line statements by either escaping the newline character at the
end of the line or by using parentheses

In [89]:
z = 5 + \
     3

In [90]:
z

8

In [91]:
value = (4.534435335623528764 + 6.564647654
          + 5.963242674546)

In [92]:
value

17.062325664169528

In [93]:
b = ''' This is 
     Guvi's python course    '''

In [94]:
print(a)

10

In [95]:
b = """some items:\n
    1. item 1
    2. item 2"""

In [96]:
print(b)

some items:

    1. item 1
    2. item 2

###### Input from the User using input function

The built-in function input() takes a string argument. This string is used as a prompt. When the
input() function is called, the prompt is printed and the program waits for the user to provide
input via the keyboard. The user’s input is sent back to the program once the user types return.
input() always returns the user’s input as a string.

In [97]:
company = input("Enter your company's name: ")          # Prompt for and obtain comapany name.

Enter your company's name: Guvi

In [98]:
marks = input("Enter your marks: ")                     # Prompt for and obtain marks.

Enter your marks: 96

In [99]:
type(marks)                                             # input() function always return a string

str

In [100]:
# for marks we have provided an integer, but the input function returned a string

In [101]:
marks = int(input("Enter your marks: "))                # we are trying to convert marks to integer datatype using int() function

Enter your marks: 79

In [103]:
int(float("6.523"))                                      # Convert a string to a float and then to an int.

6

In [104]:
float("22")                                             # Converting string which appears as integer into float

22.0

In [105]:
int(float("22"))                                        # Again converting the float into integer

22

In [107]:
percentage = int(input("Enter your percentage : "))    # This prompt only accepts integer

Enter your percentage : 56

In [109]:
percentage = int(float(input("Enter your percentage : ")))  # It can allow floats as well

Enter your percentage : 56.7

In [110]:
percentage                                              #Eventually the integer function has converted float to integer

56

In [111]:
# Now we will see string function str()

In [112]:
str("34")                                                  # str() function converts its argument to a string.

'34'

In [113]:
str("2.176")

'2.176'

In [114]:
divmod(14, 9)                                              # Convert tuple to a string using

(1, 5)

Now we will see another built-in function called eval()

The eval()
function takes a string argument and evaluates that string as a Python expression

In [115]:
#lets take a string

In [116]:
mystr = " 45 + 25 "

In [117]:
type(mystr)                                              #it is obvious that mystr is a string literal

str

In [118]:
print(mystr)

 45 + 25

In [119]:
eval(mystr)                                           # eval() function evaluated the string argument

70

In [120]:
myin1 = eval(input("Enter the value : "))             # we are using eval function to evaluate the expression given by the user

Enter the value : 567

In [121]:
type(myin1)                                            # int datatype

int

In [122]:
myin2 = eval(input("Enter the value : "))            # we are using eval function to evaluate the expression given by the user

Enter the value : 67.4

In [123]:
type(myin2)                                           # float datatype

float

In [124]:
x, y = eval("10, 20 + 12")                            # strings with comma separated values is being evaluated by eval function

In [125]:
x,y

(10, 32)

### String Literals (cont...)

A string literal is enclosed in either single quotes, double quotes, or either quotation mark
repeated three times.

When the quotation mark is repeated three times, the string may span multiple lines.

In [126]:
my_str1 = "I am taking GUVI's ZEN class"

In [127]:
my_str2 = " at IITM Research park"

In [128]:
new_str = my_str1 + my_str2                             # Strings can be concatenated using the plus operator.

In [129]:
new_str

"I am taking GUVI's ZEN class at IITM Research park"

In [130]:
cal = 68.4 + 45.6

In [131]:
type(cal)

float

In [136]:
cal = str(cal)                                         # str() function converts the arguements into string

In [137]:
type(cal)

str

In [157]:
stri = "login" + ' to' + """ 'guvi.in'""" + ''' and do CodeKata.'''

In [158]:
stri

"login to 'guvi.in' and do CodeKata."

In [153]:
stri2 = "You can avail this course in \
Tamil, Telugu, Hindi and English."                    # Same strings in the next line

In [154]:
stri2

'You can avail this course in Tamil, Telugu, Hindi and English.'

In [165]:
stri3 = "Ironman "*5                                  # String repetition

In [166]:
stri3

'Ironman Ironman Ironman Ironman Ironman '

In [1]:
stri4 = 'Guvi introduced Deep Learning course curated by IITM Professors\nas a joint intiative to create\t1lakh AI experts in India \\'

In [2]:
print(stri4)    #The above string we have used Escape sequences like \n(for new line), \t (tab), \\ (will return single \ )

Guvi introduced Deep Learning course curated by IITM Professors
as a joint intiative to create	1lakh AI experts in India \

###### String formatting

String formatting allows multiple Substitutions and Value formatting.This method let us concatenate elements within a string through positional formatting.
Different operators which are actually placeholders allows us to do so.

We will use different placeholders in different versions of python. As of now we will see the string formatting for the python versions > 3

In [26]:
#"This is {} from {}".format(val1,val2)

In [27]:
city = input("city name: ")

city name: chennai

In [28]:
name = input("name: ")

name: sherlock

No. of values passed as parameters to the format method should be equal to the number of placeholders in the string 
Besides that we can pass the values in any order and we need to provide the numbering in the placeholders in the corresponding order
Look at the following example

In [29]:
'My name is {1}, and I am living in {0}'.format(city,name)

'My name is sherlock, and I am living in chennai'

f-strings

 f-strings are string literals that have an f at the beginning and curly braces containing expressions that will be replaced with their values.

In [31]:
f"Hi, {name}. Are you living in {city} ?."

'Hi, sherlock. Are you living in chennai ?.'